<ion-view view-title="Add flux RSS" hide-back-button="true">
	<ion-content class="outer-content">
	    <br>
		<label class="item item-input">
		  <span class="input-label">URL</span>
		  <input type="text">
		</label>
		<br>
		<div class="list">
		  <label class="item item-input item-select">
		    <div class="input-label">
		      Categories
		    </div>
		    <select>
		      <option>News</option>
		      <option>Politics</option>
		      <option>Technologies</option>
		      <option>Sport</option>
		      <option>Fashion</option>
		    </select>
		  </label>
		</div>

	<div class="row  padding removePM">
	  <div class="col"> <a class="button-assertive button button-block">NO</a></div>
	  <div class="col"> <a class="button-balanced button button-block">OK</a></div>
	</div>

	</ion-content>
</ion-view>
