<ion-view view-title="Dashboard" hide-back-button="true">
    <ion-nav-buttons side="secondary">
        <button class="buttons button-icon ion-android-search" ng-click="showFilterBar()"></button>
    </ion-nav-buttons>
    <ion-content class="padding">
        <ion-refresher pulling-text="Pull to refresh..." on-refresh="      loadNewerStories()"> </ion-refresher>
        <div class="list">
             
            <!-- Targeting to a new page when clicked -->
             
            <a class="item item-thumbnail-left" href="{{story.url}}"
             
            target="_blank" ng-repeat="story in stories track by story.id">
             
            <!-- Thier is a thumbnail property provide by reddit to load the images -->
             
            <img ng-src="{{story.thumbnail}}"
             
            ng-if="story.thumbnail.startsWith('http')">
             
            <h2 class="story-title">{{story.title}}</h2> <p> {{story.domain}}
             
            </p> </a>
        </div>

        <ion-infinite-scroll on-infinite="loadOlderStories()" distance="1%">
        </ion-infinite-scroll>

    </ion-content>
</ion-view>
